---
import Layout from '../layouts/Layout.astro';
import Svg from '../components/svg/Svg.svelte';
---

<Layout title="Maaaashi's Website" />
<main>
	<div class="w-40 mx-auto">
		<Svg client:load/>
	</div>
</main>