---
import Layout from '../layouts/Layout.astro';
import { Hoge } from '../components/Hoge.tsx';
import Fuga from '../components/Fuga.svelte'
import Svg from '../components/svg/Svg.svelte';
---

<Layout title="Maaaashi's Website" />
<main>
	<div class="w-40 mx-auto">
		<Svg client:visible/>
	</div>
	<ul role="list" class="link-card-grid">
		<Hoge client:visible/>
		<Fuga client:visible/>
	</ul>
</main>