---
import Layout from '../layouts/Layout.astro';
import { ReactComponent } from '../components/ReactComponent.tsx';
import SvelteComponent from '../components/SvelteComponent.svelte.tsx'
import Svg from '../components/svg/Svg.svelte';
---

<Layout title="Maaaashi's Website" />
<main>
	<div class="w-40 mx-auto">
		<Svg client:visible/>
	</div>
	<ReactComponent client:visible/>
	<SvelteComponent client:visible/>
</main>../components/ReactComponent.tsx