---
import TextReveal from './TextReveal.svelte'
import '@fontsource/zen-kaku-gothic-new'
import { WindowMock } from './profile/WindowMock.tsx'

import Svg from './svg/Svg.svelte.tsx'
---

<main>
  <div class="flex">
    <div class="text-stone-800 flex-1">
      This is <TextReveal client:load text="MAAAASHI's WebSite" duration="0"/>
    </div>
    <div class="p-4 pt-12">
      <WindowMock client:load/>
    </div>
  </div>
  <!-- <Svg client:load/> -->
</main>

<style>
  * {
    font-family: 'Zen Kaku Gothic New', sans-serif;
  }
</style>