---
import TextReveal from './TextReveal.svelte'
import '@fontsource/zen-kaku-gothic-new'
import { MyProfileArea } from './profile/'

import Svg from './svg/Svg.svelte'
---

<main>
  <div class="flex flex-col lg:flex-row items-center lg:items-start">
    <div class="flex-1">
      <TextReveal client:load text="Welcome!" duration="0"/>
    </div>
    <div class="p-4 pt-12">
      <MyProfileArea client:load/>
    </div>
  </div>
  <!-- <Svg client:load/> -->
</main>

<style>
  * {
    font-family: 'Zen Kaku Gothic New', sans-serif;
  }
</style>