---
import TextReveal from './TextReveal.svelte'
import { MyProfileArea } from './profile/'

import Svg from './svg/Svg.svelte'
---

<main>
  <div class="flex flex-col lg:flex-row items-center lg:items-start">
    <div class="flex-1">
      <p><TextReveal client:load text="Thank you for visiting our site. It is currently under development. Please check back soon for updates." duration="0"/></p>
      <p><TextReveal client:load text="サイトを見つけてくれてありがとうございます。このサイトは現在開発中のため、もう少し経ってから再度見に来てください。" duration="0"/></p>
    </div>
    <div class="p-4 pt-12">
      <MyProfileArea client:load/>
    </div>
  </div>
  <!-- <Svg client:load/> -->
</main>
