---
import TextReveal from '../design/TextReveal.svelte'

import Svg from '../svg/Svg.svelte'
---

<main>
  <TextReveal client:load text="MAAAASHI's WebSite" duration="0"/>
  <!-- <Svg client:load/> -->
</main>