---
import Layout from '../layouts/Layout.astro'
import ProfileArea from '../components/ProfileArea.astro'
import Experience from '../components/Experience.astro'
import Skill from '../components/Skill.astro'
import Activities from '../components/Activities.astro'
import { TopImage } from '../components/TopImage.tsx'
---

<Layout title="Maaaashi's Website">
  <main>
    <TopImage />
    <div class='bg-base-100'>
      <div class='flex flex-col lg:flex-row items-center lg:items-start'>
        <div class='p-4 pt-12'>
          <ProfileArea />
        </div>
      </div>
      <Experience />
      <Skill />
      <Activities />
    </div>
  </main>
</Layout>
