---
import Layout from '../layouts/Layout.astro'
import ProfileArea from '../components/ProfileArea.astro'
import Experience from '../components/Experience.astro'
import Skill from '../components/Skill.astro'
import Activities from '../components/Activities.astro'
import TechnicalPortfolio from '../components/TechnicalPortfolio.astro'
import Contact from '../components/Contact.astro'
import { TopImage } from '../components/TopImage.tsx'
---

<Layout title="Maaaashi's Website">
  <main class='flex flex-col gap-28'>
    <TopImage />
    <ProfileArea />
    <Experience />
    <Skill />
    <Activities />
    <TechnicalPortfolio />
    <Contact />
    <div class='h-48'></div>
  </main>
</Layout>
