---
import { Articles } from './Activities/Articles'
import { FaGithub } from 'react-icons/fa'
import { RiArticleFill } from 'react-icons/ri'
import { AreaHeader } from './AreaHeader'
---

<div>
  <AreaHeader text='Activities - 活動' backGroundColor='bg-base-300' />
  <div class='bg-base-300 flex flex-col gap-10 py-10'>
    <section class='w-full px-10' id='activities'>
      <h3
        class='font-bold text-xl mb-2 flex items-center gap-2'
        id='Activities'
      >
        <FaGithub />Github
      </h3>
      <div
        class='flex gap-4 flex-col lg:flex-row items-center lg:justify-center'
      >
        <img
          alt='Top Langs'
          class='w-96 lg:h-40 lg:w-auto'
          src='https://github-readme-stats.vercel.app/api/top-langs/?username=maaaashi&layout=compact&theme=onedark'
        />
        <img
          alt='github stats'
          class='w-96 lg:h-40 lg:w-auto'
          src='https://github-readme-stats.vercel.app/api?username=maaaashi&show_icons=true&theme=onedark'
        />
        <img
          alt='Top Langs'
          class='w-96 lg:h-40 lg:w-auto'
          src='https://streak-stats.demolab.com/?user=maaaashi&theme=onedark'
        />
      </div>
    </section>
    <section class='w-full' id='activities'>
      <h3
        class='font-bold text-xl mb-2 flex items-center gap-2 px-10'
        id='Activities'
      >
        <RiArticleFill />人気記事 Top 3
      </h3>
      <div class='flex justify-center flex-wrap gap-4 w-full p-4'>
        <Articles client:load />
      </div>
    </section>
  </div>
</div>
