---
import { AreaHeader } from './AreaHeader'
---

<div id='Ambition'>
  <AreaHeader text='Ambition - 野望' />
  <div>
    <section class='p-10 flex flex-col gap-4 bg-base-100'>
      comming soon...
    </section>
  </div>
</div>
