---
import { AreaHeader } from './AreaHeader'
import { Experience as ExperienceComponent } from './Experience'
---

<div id='Experience'>
  <AreaHeader text='Experience - 経歴' />
  <div class='bg-base-300'>
    <ExperienceComponent client:load />
  </div>
</div>
