---
import { AreaHeader } from './AreaHeader'
import { Experience as ExperienceComponent } from './Experience'
---

<div>
  <AreaHeader text='Experience - 経歴' backGroundColor='bg-base-300' />
  <div class='bg-base-300'>
    <ExperienceComponent client:load />
  </div>
</div>
