---
import { InfoBox } from './ProfileArea/Info/InfoBox'
import { ProfileBox } from './ProfileArea/Profile/ProfileBox'
import { TableOfContent } from './ProfileArea/TableOfContent'
import axios from 'axios'

const { profile, info } = (
  await axios.get('http://localhost:4321/api/profile-area.json')
).data
---

<div class='mockup-window border bg-base-300 hidden md:block'>
  <div class='flex px-4 py-4 bg-base-200 gap-4'>
    <div class='min-w-40 bg-base-100 rounded-lg p-2'>
      <TableOfContent />
    </div>
    <div class='min-w-96 flex flex-col gap-4'>
      <ProfileBox profile={profile} client:load />
      <InfoBox client:load info={info} />
    </div>
  </div>
</div>
<div class='mockup-phone block md:hidden'>
  <div class='camera'></div>
  <div class='display'>
    <div
      class='artboard artboard-demo phone-1 p-2 pt-12 block overflow-y-auto overflow-x-hidden bg-base-200'
    >
      <ProfileBox profile={profile} client:load />
      <div class='mt-4 md:m-0'>
        <InfoBox client:load info={info} />
      </div>
    </div>
  </div>
</div>
