---
import { AreaHeader } from './AreaHeader'
import { Skill as SkillComponent } from './Skill/index.tsx'
import { Qualifications } from './Skill/Qualifications.tsx'
---

<div>
  <AreaHeader text='Skill - スキル' />
  <div class='p-4 flex flex-col gap-4 bg-base-100'>
    <SkillComponent />
  </div>
</div>

<div>
  <AreaHeader text='Qualifications - 資格' />
  <div class='p-4 flex flex-col gap-4 bg-base-100'>
    <Qualifications client:load />
  </div>
</div>
