---
import { AreaHeader } from './AreaHeader'
import { TechnicalPortfolio as TechnicalPortfolioComponent } from './TechnicalPortfolio/TechnicalPortfolio.tsx'
---

<div id='TechnicalPortfolio'>
  <AreaHeader text='Technical Portfolio' />
  <TechnicalPortfolioComponent client:load />
</div>
