---
import { AreaHeader } from './AreaHeader'
import { Panel } from './TechnicalPortfolio/Panel.tsx'
---

<div id='TechnicalPortfolio'>
  <AreaHeader text='Technical Portfolio' />
  <div class='flex flex-col gap-4 bg-base-100 p-10'>
    これまでの作品を紹介します。
    <div class='flex flex-col items-center gap-4'>
      <Panel />
      <Panel />
    </div>
  </div>
</div>
