---
import { Panel } from './TechnicalPortfolio/Panel.tsx'
---

<div class='flex flex-col gap-4'>
  <h2 class='font-bold text-2xl p-4'>Technical Portfolio</h2>

  これまでの作品を紹介します。
  <div class='flex lg:justify-around flex-col lg:flex-row'>
    <Panel />
    <Panel />
  </div>
</div>
